body{
  background-image: url(fundo.jpg);
  background-size: cover;
  background-attachment: fixed;
  align="center"
}

p {
  color: #c71010;
}

h1 {
  color: #1fa3b4
}

h2 {
  color: #1fa3b4
}

h3 {
  color: #1fa3b4
}
.foto { 
 border: 5px solid rgb(240, 240, 240); /* shorthand */
border-radius: 50%;
 /* border-width: 5px;
border-style: solid;
border-color: black;
*/

}
 
li {
  color: #c71010;
} 
