body{
  background-image: url(fundo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

p {
  color: #c71010;
}

h1 {
  color: #1fa3b4
}

h2 {
  color: #1fa3b4
}

h3 {
  color: #1fa3b4
}
.foto {
  border: 5px liquid black
}