body{
  background-image: url(fundos.webp);
  background-size: cover;
  background-attachment: fixed;
  align="center"
}

p {
  color: #c71010;
}

h1 {
  color: #1fa3b4
}

h2 {
  color: #1fa3b4
}

h3 {
  color: #1fa3b4
}
.foto { 
 border: 5px solid rgb(30 215 188);; /* shorthand */
border-radius: 50%;
margin-top: 30px;
margin-bottom: 70px;
padding: 10px;
height: 400px;

}
 
li {
  color:#000000;
} 
 
h4{
  color:#000000
}
 b {
  color:#000000
 }